<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.title.home}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body>
<header th:replace="~{fragments/navbar :: header(context='home')}"></header>

<div class="container mx-auto my-5">
    <h1>Welcome to Forum Management System</h1>
</div>

<script th:replace="~{fragments/scripts :: fontawesome}"></script>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>