<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{navigation.posts}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="users-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='posts')}"></header>

<div class="container mx-auto my-5">
    <form action="#" th:action="@{/posts}" method="get" th:object="${filterPostOptions}">
        <input type="text" placeholder="Post title" th:field="*{title}" />
        <input type="text" placeholder="Post content" th:field="*{content}"/>
        <input type="text" placeholder="Tag" th:field="*{tag}"/>
        <select th:field="*{sort}">
            <option value="">-</option>
            <option value="title">Title</option>
            <option value="likes">Likes</option>
            <option value="datecreated">Date Created</option>
        </select>
        <select th:field="*{order}">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>
        <input type="submit" value="Search"/>
    </form>
    <table class="table mt-5">
        <thead>
            <tr th:if="${!posts.isEmpty()}">
                <th scope="col">Posts</th>
                <th scope="col">Replies</th>
                <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${posts.isEmpty()}">
            <td colspan="7" class="text-center" th:text="#{navigation.posts.empty}">No Comments</td>
        </tr>
        <tr th:each="post : ${posts}">
            <td>
                <span class="post-title">
                    <a class="text-decoration-none text-dark" href="#" th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.getTitle()}">Sample post title</a>
                </span>
                <p class="blog-post-meta">
                    <span th:text="${post.getDatecreated()} + ' by '">Date Created</span>
                    <span><a href="#" th:href="@{/users/{id}(id=${post.getUserCreated().getId()})}"
                             th:text="${post.getUserCreated().getUsername()} + ' '">Mark</a></span>
                </p>
            </td>
            <td>
                <p class="blog-post-meta">
                    <span><i class="bi bi-chat-right-fill post-likes-comments">&nbsp</i></span>
                    <span class="post-likes-comments" th:text="${post.getComments().size()}">Comments Count</span>
                </p>
            </td>
            <td>
                <p class="blog-post-meta">
                    <span><i class="bi bi-heart-fill post-likes-comments">&nbsp</i></span>
                    <span class="post-likes-comments" th:text="${post.getLikes().size()}">Likes</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>