<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{navigation.posts}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="users-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='posts')}"></header>



<div th:each="post : ${posts}">
    <div class="container mt-5">
        <article class="blog-post">
            <div>
                <span class="post-title" th:text="${post.getTitle()}">Sample post title</span>
                <i class="bi bi-chat-left-fill comment-icon-to-right"></i>
            </div>
            <p class="blog-post-meta">
                <span th:text="${post.getDateCreated().format(formatter)} + ' by '">Date Created</span>
                <span><a href="#" th:href="@{/users/{id}(id=${post.getUserCreated().getId()})}"
                         th:text="${post.getUserCreated().getUsername()} + ' '">Mark</a></span>
                <span><a th:if="${session.user == post.getUserCreated()}" href="#" th:href="@{/posts/{id}/update(id=${post.getId()})}"
                         th:text="#{post-form.update}">Update</a></span>
            </p>
            <hr>
        </article>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>