<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{navigation.posts}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="users-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='posts')}"></header>
<div class="container mx-auto my-3">
    <h6 class="display-6" th:text="#{navigation.posts}">All Posts</h6>
    <form action="#" th:action="@{/posts}" method="get" th:object="${filterPostOptions}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Post title" th:field="*{title}">
            <input type="text" class="form-control" placeholder="Post content" th:field="*{content}">
            <input type="text" class="form-control" placeholder="Tag" th:field="*{tag}">
            <input type="text" class="form-control" placeholder="Username" th:field="*{username}">
            <select class="form-select" id="inputGroupPostSort" name="sort" th:field="*{sort}">
                <option selected value="">Sort By</option>
                <option value="title">Title</option>
                <option value="likes">Likes</option>
                <option value="datecreated">Date Created</option>
            </select>
            <select class="form-select" id="inputGroupPostOrder" name="order" th:field="*{order}">
                <option selected value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <button class="btn btn-primary" type="submit">Filter</button>
        </div>
    </form>

    <table th:replace="~{fragments/posts-view :: posts-view}"></table>
    <nav aria-label="Page navigation"
         th:if="${totalPages > 0}"
         th:with="pageQuery=${'?page='},
                sizeQuery=${'&size='},
                titleQuery=${'&title='},
                contentQuery=${'&content='},
                tagQuery=${'&tag='},
                usernameQuery=${'&username='},
                sortQuery=${'&sort='},
                orderQuery=${'&order='},
                linkQuery=${sizeQuery + sizePage + sortQuery + sort + orderQuery + order +
                titleQuery + title + contentQuery + content + tagQuery + tag + usernameQuery + username}">

        <ul th:replace="~{fragments/pagination :: pagination}"></ul>
    </nav>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>