<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.title.post-view}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet">
</head>

<body class="user-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='post-details')}"></header>
<div class="container mt-5" th:with="isDeleted=${post.getUserCreated().getUsername().contains('deleted')}">
    <article class="blog-post">
        <h2 class="blog-post-title" th:text="${post.getTitle()}">Sample post title</h2>
        <p class="blog-post-meta">
            <span th:text="${post.getDatecreated()} + ' by '">Date Created</span>
            <span>
                <a th:if="${!isDeleted}" href="#" th:href="@{/users/{id}(id=${post.getUserCreated().getId()})}"
                   th:text="${post.getUserCreated().getUsername()}">&nbsp&nbsp</a>
                <span th:if="${isDeleted}" th:text="#{deleted.user.message}">anonymous</span>
            </span>
            <span>
                <a class="btn btn-warning text-dark btn-sm" href="#"
                   th:href="@{${requestURI} + '/update'}"
                   th:if="${session.user == post.getUserCreated() || session.isAdmin}"
                   ><i class="bi bi-pencil-square" th:title="#{post-form.update}"></i></a></span>
            <span>
                <a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger text-light btn-sm"
                   href="#"
                   th:if="${session.user == post.getUserCreated() || session.isAdmin}"><i class="bi bi-trash"></i></a></span>
        </p>
        <p th:utext="${post.getContent()}">This blog post shows a few different types of content.</p>
        <section>
            <a class="btn"
               th:classappend="${session.isAuthenticated && post.getLikes().contains(session.user)} ? 'btn-danger bi bi-heart' : 'btn-light bi bi-heart'"
               th:href="@{/posts/{id}/like(id=${post.getId()})}">
                <span th:if="${post.getLikes().contains(session.user)}"
                      th:text="${post.getLikes().size()}"></span>
            </a>
            <!--            <a class="btn" th:classappend="${session.isAuthenticated} ? 'btn-primary bi bi-reply-fill'"-->
            <!--               th:href="@{/posts/{id}/reply(id=${post.getId()})}">-->
            <!--            </a>-->
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Tags
            </button>
            <a class="btn" th:classappend="${session.isAuthenticated} ? 'btn-primary bi bi-reply-fill'"
               data-bs-toggle="collapse" href="#collapseReply" role="button" aria-expanded="false"
               aria-controls="collapseReply"></a>
            <div class="collapse multi-collapse" id="collapseExample">&nbsp
                <ul class="list-group list-group-horizontal d-flex flex-wrap">
                    <li class="list-group-item" th:if="${!post.getTags().isEmpty()}" th:each="tag : ${post.getTags()}"
                        th:text="${tag.getName()}"></li>
                </ul>
                <h6 class="text-center" th:if="${post.getTags().isEmpty()}" th:text="#{post.tags.empty}">No Tags</h6>
            </div>
            <div class="collapse multi-collapse" id="collapseReply">
                <form th:replace="~{fragments/comment-form :: comment-form(context='comment-create')}"></form>
            </div>
            <hr>
        </section>
    </article>

    <form th:replace="~{fragments/comment-form :: comment-form-sort}"></form>
    <div class="list-group w-auto mt-1">
        <th:block th:if="${comments.isEmpty()}">
            <div class="d-flex gap-2 w-100 justify-content-center">
                <div>
                    <h6 class="mb-0 display-6">No Comments</h6>
                </div>
            </div>
        </th:block>
        <th:block th:each="comment : ${comments}"
                  th:with="isDeleted=${comment.createdBy.username.contains('deleted_')}">

            <a href="#" th:href="@{/comments/{id}(id=${comment.id})}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <i class="bi bi-chat-left-text" style="font-size: 2rem; color: cornflowerblue;"></i>
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div class="flex-grow-1">
                        <p class="mb-0 opacity-75" th:text="${comment.content}">Body (design!)</p>
                    </div>
                    <small class="d-sm-none d-md-inline"
                           th:text="${!isDeleted ? comment.createdBy.username : 'anonymous'}">Created By
                        (design!)</small>
                    <small class="opacity-50 text-nowrap" th:text="${comment.dateCreated}">Date Created
                        (design!)</small>
                </div>
            </a>
        </th:block>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="#" th:href="@{${requestURI} + '/delete'}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>