<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.title.tags}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="comments-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='tags')}"></header>

<div class="container mx-auto my-3">
    <h6 class="display-6">All Tags</h6>
    <table class="table table-bordered table-striped table-hover mt-1" style="width: 30%">
        <thead>
        <tr>
            <th scope="col" class="col-md-3"><i class="bi bi-tag"></i></th>
            <th scope="col">Tag Name</th>
            <th scope="col" class="col-md-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tags.isEmpty()}">
            <td colspan="7" class="text-center">No Tags</td>
        </tr>
        <tr th:each="tag : ${tags}">
            <th scope="row" th:text="${tag.getId()}">1</th>
            <td th:text="${tag.getName()}">Some text (design!)</td>
            <td class="align-middle text-center">
                <a href="#" th:href="@{/tags/{id}/delete(id=${tag.getId()})}" class="btn btn-danger">
                    <i class="bi bi-x-circle" title="Delete"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Delete Modal -->
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>