<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Profile</title>
    <th:block th:replace="~{fragments/head.html :: head}"></th:block>
</head>

<body>
<header th:replace="~{fragments/header :: header(context='user-profile')}"></header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div th:class="${user.getPermission().isAdmin()} ? 'card-header text-center text-white bg-success' : 'card-header text-center text-dark bg-light' + (${user.getPermission().isBlocked()} ? 'card-header text-center text-white bg-danger' : 'card-header text-center text-dark bg-light')">
          <h4 th:text="${user.username.toUpperCase()}">User Profile</h4>
        </div>
        <div class="card-body d-flex align-items-center">
          <div class="col-md-5 text-center me-5">
            <img th:if="${user.photo.isPresent()}" class="rounded-circle" height="150px" alt="" th:alt="${user.firstName}" src="../static/images/no-profile-picture.jpg" th:src="${user.photo.orElse('No photo')}">
            <img th:unless="${user.photo.isPresent()}" class="rounded-circle" height="150px" alt="No Profile Picture" src="../static/images/no-profile-picture.jpg" th:src="@{/images/no-profile-picture.jpg}">
          </div>
          <div class="col-lg-10 col-md-8 col-sm-10">
            <div class="form-group d-flex align-items-center mb-3">
              <i class="fas fa-user me-2"></i>
              <span th:text="${user.firstName} + ' ' + (${user.getLastName()})">Full Name</span>
            </div>
            <div class="form-group d-flex align-items-center mb-3">
              <i class="fas fa-envelope me-2"></i>
              <span th:text="${user.email}">Email Address</span>
            </div>
            <div class="form-group d-flex align-items-center">
              <i class="fas fa-phone me-2"></i>
              <span th:if="${user.phoneNumber}" th:text="${user.phoneNumber}">Phone Number</span>
              <span th:unless="${user.phoneNumber}">No Phone</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Font Awesome icons -->
<script src="https://kit.fontawesome.com/5b664d6bcd.js" crossorigin="anonymous"></script>
<!-- JavaScript Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>