<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.title.users}">Forum Management System</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="users-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='users')}"></header>

<div class="container mx-auto my-3"
     th:with="postsPath=${requestURI.contains('/search')}">

    <h6 class="display-6" th:text="${postsPath} ? 'Searching results for: ' + (${search}) : 'All Users'">All Users</h6>

    <table class="table table-bordered table-striped table-hover mt-1">
        <thead>
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col" class="d-sm-none d-md-table-cell">Email</th>
            <th scope="col">Username</th>
            <th scope="col" class="d-sm-none d-md-table-cell">Phone</th>
            <th scope="col" class="d-sm-none d-md-table-cell text-center">Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td colspan="7" class="text-center">No Users</td>
        </tr>
        <tr th:each="user : ${users}" th:class="${user.getPermission().isAdmin()} ? 'table-success' : '' + (${user.getPermission().isBlocked()} ? 'table-danger' : '')">
            <th scope="row" class="text-center align-middle"><a href="#" th:href="@{/users/{id}(id=${user.id})}"><i class="bi bi-person-vcard" style="font-size: 2rem;"></i></a></th>
            <td class="align-middle" th:text="${user.firstName}">John</td>
            <td class="align-middle" th:text="${user.lastName}">Doe</td>
            <td class="d-sm-none d-md-table-cell align-middle" th:text="${user.email}">johndoe@mail.com</td>
            <td class="align-middle" th:text="${user.username}">johndoe</td>
            <td class="d-sm-none d-md-table-cell align-middle" th:if="${user.phoneNumber != null && user.phoneNumber != ''}" th:text="${user.phoneNumber}">123-456-7890</td>
            <td class="d-sm-none d-md-table-cell align-middle" th:if="${user.phoneNumber == null or user.phoneNumber == ''}">No Phone</td>
            <td class="text-center">
                <img th:if="${user.photo}" class="img-fluid rounded-circle" width="50px" alt="" src="../static/images/no-profile-picture.jpg" th:src="'data:image/jpeg;base64,' + ${user.photo}" th:alt="${user.username}">
                <img th:unless="${user.photo}" class="img-fluid rounded-circle" width="50px" alt="No Profile Picture" src="../static/images/no-profile-picture.jpg" th:src="@{/images/no-profile-picture.jpg}">
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation"
         th:if="${totalPages > 0}"
         th:with="pageQuery=${'?page='},
                  sizeQuery=${'&size='},
                  linkQuery=${sizeQuery + sizePage}">

        <ul th:replace="~{fragments/pagination :: pagination}"></ul>
    </nav>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>