/*GLOBAL*/
body {
    background-color: #f5f5f5;
}

/*LOGIN VIEW*/
.login-view, .register-view {
    height: 100%;
    align-items: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 10% 15px 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin div.form-floating:first-of-type > input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}

.form-signin div.form-floating:last-of-type > input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}

.form-signin div.form-floating:not(:first-of-type):not(:last-of-type) > input {
    border-radius: 0;
}

.form-signin input[type="submit"] {
    margin-top: 10px;
}

.table {
    display: table;
}
.header {
    display: table-header-group;
    font-weight: bold;
    text-align: center;
}
.cell {
    display: table-cell;
    width: 25%;
    text-align: left;
}
.row {
    display: table-row;
}
.error {
    color: red;
}


